.MyPage {
  padding-left: 3rem;
  margin: 1rem;
  display: flex;
}
.header {
  margin-top: 3rem;
  clear: both;
  height: 5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.load {
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.User_info {
  float: left;
  margin-left: 3rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.user_img2 {
  width: 8rem;
  float: left;
}
.user_id2 {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  margin-top: 1.7rem;
  margin-bottom: 0;
  font-weight: 600;
  float: left;
}
.user_email {
  float: left;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  margin-top: 0.5rem;
  font-weight: 600;
}
.header2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 1rem;
  height: 5rem;
  font-size: 2.5rem;
}
.edit {
  margin-top: 2.4rem;
  margin-left: 1rem;
  bottom: 3rem;
  border: none;
  background-color: #0e5079;
  color: #ffffff;
  padding: 0.6rem 0.5rem;
  width: 5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  float: left;
}
.logout {
  margin-left: 33rem;
  color: rgb(133, 132, 132);
  font-size: 1.5rem;
  float: left;
  clear: both;
  font-weight: 500;
  cursor: pointer;
}
.withdraw {
  margin-left: 1rem;
  color: rgb(133, 132, 132);
  font-size: 1.5rem;
  float: left;
  font-weight: 500;
  cursor: pointer;
}
.goMain {
  margin-left: 1rem;
  bottom: 3rem;
  border: none;
  background-color: #0e5079;
  color: #ffffff;
  padding: 0.7rem 0.7rem;
  width: 10rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  float: right;
}
